# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Streamlit's cache
.streamlit/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest / test output
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.cache
nosetests.xml
test-results/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Excel or temp data files
*.xlsx
*.xls
~$*
